@font-face {
  font-family: 'Raleway', sans-serif; }

* {
  padding: 0;
  margin: 0;
  font-family: 'Raleway'; }

a {
  text-decoration: none; }

a:hover {
  cursor: pointer; }

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden; }

header {
  width: 100%;
  height: 75px;
  position: relative;
  background-color: #a5a0a4;
  color: #222; }

h2 {
  font-weight: lighter;
  font-size: 42px;
  color: #818285;
  position: relative;
  top: 100px;
  left: 200px; }

#logo {
  max-height: 200px;
  width: 400px;
  position: relative;
  top: 50%;
  left: 20px;
  transform: translateY(-50%); }

#tabsDiv {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px; }

.tabs {
  margin: 0 20px 0 0; }

.tabs:hover {
  cursor: pointer; }

.currentPage {
  border-top: 1px solid #818285; }

.mainSection {
  width: 100%;
  height: calc(100% - 75px);
  background-position: right;
  background-size: cover; }

.infoBox {
  width: 700px;
  position: relative;
  top: 150px;
  left: 200px;
  background-color: rgba(34, 34, 34, 0.85);
  color: #818285;
  padding: 40px;
  font-size: 28px;
  line-height: 1.3;
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.5); }

.servicesNames {
  border: 0;
  font-size: 22px;
  text-align: center; }

.servicesNames:hover {
  cursor: pointer; }

.selectedService {
  color: #818285; }

.serviceItems {
  font-size: 22px;
  line-height: 2.3;
  border-bottom: 1px solid #a5a0a4; }

.serviceBox {
  text-align: center;
  font-size: 22px; }

.productItems {
  font-size: 22px;
  display: flex; }
  .productItems p {
    flex: 1;
    padding-left: 10px; }
  .productItems img {
    flex: 1; }

.appFlex {
  flex: 5;
  text-align: center;
  padding: 0 40px; }

.appFlex:first-of-type {
  border-right: 1px solid #818285; }

#appLinkDiv {
  width: 50%;
  position: relative;
  left: 25%;
  padding: 10px 0;
  background-color: #a5a0a4;
  color: black; }
