<section class="mainSection" style="background-image: url(./images/0122E%20A4%201920.jpg)">
<!--    <h2>About Us</h2>-->
    <div class="infoBox">
        <p style="font-size: 24px">
            <a ng-repeat="item in Options" ng-click="selectOption(item)" style="font-size: 28px;">
                <span style="font-family:Julius Sans One;" ng-if="$index !== 0">/</span> <span style="font-family:Julius Sans One;" ng-class="{selectedService: item === selected}">{{item.name}}</span>
            </a>
            <br><br>
            {{selected.info}}
            <section ng-if="selected.info2" style="font-size: 24px">
                <br>
                <p>{{selected.info2}}</p>
            </section>
        </p>
    </div>
</section>
