<section class="mainSection" style="background-image: url(./images/2257E%20A1%201920.jpg)">
<!--    <h2>Products</h2>-->
    <div id="productbox" class="infoBox">
        <p>At Salon O we take pride in choosing product lines that use the highest-grade botanical ingredients. Not only do our product lines produce beautiful, healthy scalp and hair, but they are all commited to sustainability.</p>
        <br>
        <div class="serviceBox">
            <span class="servicesNames" ng-repeat="product in Products" ng-click="SelectProduct(product)">
            <span ng-if="$index !== 0">|</span> <span ng-class="{selectedService: product === Selected}">{{product}}</span>
            </span>
        </div>
        <br>
        <div class="productItems">
            <img src="{{ProductDetails[Selected].url}}">
            <span><p>{{ProductDetails[Selected].text}}</p></span>
        </div>
    </div>
</section>